/*
 * V-1.0
 *
 * Ben Ford Design Site
 * Special thanks to Andrew Nedimeyer for the boilerplate &
 */




/* ----------------------------------------
HTML RESET
---------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}

body {
	font-size:100%;
	line-height: 1;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: none;
	font-family: avenir, gotham, times new roman;
	background-color: #fff;
}


/* ----------------------------------------
Text Select
---------------------------------------- */
::selection { background-color: rgba(0,168,98,.15); color: #000; }
::-moz-selection { background-color: rgba(0,168,98,.15); color: #000;}

mark {background-color: rgba(0,168,98,.15); color: inherit;}


/* ----------------------------------------
Custom Scroll Bar
---------------------------------------- */
/*::-webkit-scrollbar {
    width: .6em;
}
::-webkit-scrollbar-button {
    background: indianred;
}
::-webkit-scrollbar-track-piece {
    background: indianred;
}
::-webkit-scrollbar-thumb {
    background: #fff;
}

/* ----------------------------------------
HTML RESET
---------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, label, legend { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-spacing: 0; }

/* ----------------------------------------
Clearfixes
---------------------------------------- */
.row:before,.row:after,.clearfix:before,.clearfix:after{content:'';display:table}
.row:after,.clearfix:after{clear:both}
.row,.clearfix{zoom:1}


/* ----------------------------------------
Grid
---------------------------------------- */

.container {
	max-width: 1488px;
	margin: 0 6rem;
	/* margin: auto; */

}

.row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.c1,
.c2,
.c3,
.c4,
.c5,
.c6,
.c7,
.c8,
.c9,
.c10,
.c11,
.c12 {
	box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.c1 {flex-basis:8.33%; -ms-flex-preferred-size: 8.333%;}
.c2 {flex-basis:16.66%; -ms-flex-preferred-size: 16.667%}
.c3 {flex-basis:25%; -ms-flex-preferred-size: 25%}
.c4 {flex-basis:33.333%; -ms-flex-preferred-size: 33.333%}
.c5 {flex-basis:41.66%; -ms-flex-preferred-size: 41.66%}
.c6 {flex-basis:50%; -ms-flex-preferred-size: 50%;}
.c7 {flex-basis:58.33%; -ms-flex-preferred-size:58.33%;}
.c8 {flex-basis:66.66%; -ms-flex-preferred-size: 66.66%;}
.c9 {flex-basis:75%; -ms-flex-preferred-size: 75%;}
.c10 {flex-basis:83.33%; -ms-flex-preferred-size: 83.33%;}
.c11 {flex-basis:91.66%; -ms-flex-preferred-size: 91.66%;}
.c12 {flex-basis:100%; -ms-flex-preferred-size: 100%;}

.c-offset-1 {margin-left: 8.333%;}
.c-offset-2 {margin-left: 16.667%;}
.c-offset-3 {margin-left: 25%;}
.c-offset-4 {margin-left: 33.333%;}
.c-offset-5 {margin-left: 41.667%;}
.c-offset-6 {margin-left: 50%;}
.c-offset-7 {margin-left: 58.333%;}
.c-offset-8 {margin-left: 66.667%;}
.c-offset-9 {margin-left: 75%;}
.c-offset-10 {margin-left: 83.333%;}
.c-offset-11 {margin-left: 91.66%;}

.full-height {
  height: 100vh;
}

/* Column Alignment (Apply to Row/parents) */

.hstart {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  /* text-align: start; */
}

.hcenter {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  /* text-align: center; */
}

.hend {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  /* text-align: end; */
}

.top {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

/* Column Alignment (Apply to Columns/children) */

.first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.vstart {
	align-self: flex-start;
}

.vcenter {
	align-self: center;
}

.vend {
	align-self: flex-end;
}


/* Squares */

.s1 {width: 8.333vw; height: 8.333vw;}
.s2 {width: 240px; height: 240px;}
.s3 {width: 360px; height: 360px;}
.s4 {width: 479.984px; height: 479.984px;}
.s5 {width: 41.667vw; height: 41.667vw;}
.s6 {width: 50vw; height: 50vw;}




/* ----------------------------------------
Spacing
---------------------------------------- */


/* Margin */
.mt0 {margin-top: 4px;}
.mt1 {margin-top: 8px;}
.mt2 {margin-top: 16px;}
.mt3 {margin-top: 24px;}
.mt4 {margin-top: 32px;}
.mt5 {margin-top: 40px;}
.mt6 {margin-top: 48px;}
.mt7 {margin-top: 56px;}
.mt8 {margin-top: 64px;}
.mt9 {margin-top: 72px;}
.mt10 {margin-top: 80px;}
.mt11 {margin-top: 88px;}
.mt12 {margin-top: 96px;}
.mt13 {margin-top: 104px;}
.mt14 {margin-top: 112px;}
.mt15 {margin-top: 120px;}
.mr0 {margin-right: 4px;}
.mr1 {margin-right: 8px;}
.mr2 {margin-right: 16px;}
.mr3 {margin-right: 24px;}
.mr4 {margin-right: 32px;}
.mr5 {margin-right: 40px;}
.mr6 {margin-right: 48px;}
.mr7 {margin-right: 56px;}
.mr8 {margin-right: 64px;}
.mr9 {margin-right: 72px;}
.mr10 {margin-right: 80px;}
.mr11 {margin-right: 88px;}
.mr12 {margin-right: 96px;}
.mr13 {margin-right: 104px;}
.mr14 {margin-right: 112px;}
.mr15 {margin-right: 120px;}
.mb0 {margin-bottom: 4px;}
.mb1 {margin-bottom: 8px;}
.mb2 {margin-bottom: 16px;}
.mb3 {margin-bottom: 24px;}
.mb4 {margin-bottom: 32px;}
.mb5 {margin-bottom: 40px;}
.mb6 {margin-bottom: 48px;}
.mb7 {margin-bottom: 56px;}
.mb8 {margin-bottom: 64px;}
.mb9 {margin-bottom: 72px;}
.mb10 {margin-bottom: 80px;}
.mb11 {margin-bottom: 88px;}
.mb12 {margin-bottom: 96px;}
.mb13 {margin-bottom: 104px;}
.mb14 {margin-bottom: 112px;}
.mb15 {margin-bottom: 120px;}
.ml0 {margin-left: 4px;}
.ml1 {margin-left: 8px;}
.ml2 {margin-left: 16px;}
.ml3 {margin-left: 24px;}
.ml4 {margin-left: 32px;}
.ml5 {margin-left: 40px;}
.ml6 {margin-left: 48px;}
.ml7 {margin-left: 56px;}
.ml8 {margin-left: 64px;}
.ml9 {margin-left: 72px;}
.ml10 {margin-left: 80px;}
.ml11 {margin-left: 88px;}
.ml12 {margin-left: 96px;}
.ml13 {margin-left: 104px;}
.ml14 {margin-left: 112px;}
.ml15 {margin-left: 120px;}

/* Padding */
.pt0 {padding-top: 4px;}
.pt1 {padding-top: 8px;}
.pt2 {padding-top: 16px;}
.pt3 {padding-top: 24px;}
.pt4 {padding-top: 32px;}
.pt5 {padding-top: 40px;}
.pt6 {padding-top: 48px;}
.pt7 {padding-top: 56px;}
.pt8 {padding-top: 64px;}
.pt9 {padding-top: 72px;}
.pt10 {padding-top: 80px;}
.pt11 {padding-top: 88px;}
.pt12 {padding-top: 96px;}
.pt13 {padding-top: 104px;}
.pt14 {padding-top: 112px;}
.pt15 {padding-top: 120px;}
.pr0 {padding-right: 4px;}
.pr1 {padding-right: 8px;}
.pr2 {padding-right: 16px;}
.pr3 {padding-right: 24px;}
.pr4 {padding-right: 32px;}
.pr5 {padding-right: 40px;}
.pr6 {padding-right: 48px;}
.pr7 {padding-right: 56px;}
.pr8 {padding-right: 64px;}
.pr9 {padding-right: 72px;}
.pr10 {padding-right: 80px;}
.pr11 {padding-right: 88px;}
.pr12 {padding-right: 96px;}
.pr13 {padding-right: 104px;}
.pr14 {padding-right: 112px;}
.pr15 {padding-right: 120px;}
.pb0 {padding-bottom: 4px;}
.pb1 {padding-bottom: 8px;}
.pb2 {padding-bottom: 16px;}
.pb3 {padding-bottom: 24px;}
.pb4 {padding-bottom: 32px;}
.pb5 {padding-bottom: 40px;}
.pb6 {padding-bottom: 48px;}
.pb7 {padding-bottom: 56px;}
.pb8 {padding-bottom: 64px;}
.pb9 {padding-bottom: 72px;}
.pb10 {padding-bottom: 80px;}
.pb11 {padding-bottom: 88px;}
.pb12 {padding-bottom: 96px;}
.pb13 {padding-bottom: 104px;}
.pb14 {padding-bottom: 112px;}
.pb15 {padding-bottom: 120px;}
.pl0 {padding-left: 4px;}
.pl1 {padding-left: 8px;}
.pl2 {padding-left: 16px;}
.pl3 {padding-left: 24px;}
.pl4 {padding-left: 32px;}
.pl5 {padding-left: 40px;}
.pl6 {padding-left: 48px;}
.pl7 {padding-left: 56px;}
.pl8 {padding-left: 64px;}
.pl9 {padding-left: 72px;}
.pl10 {padding-left: 80px;}
.pl11 {padding-left: 88px;}
.pl12 {padding-left: 96px;}
.pl13 {padding-left: 104px;}
.pl14 {padding-left: 112px;}
.pl15 {padding-left: 120px;}

/* ----------------------------------------
Colors
---------------------------------------- */

/* Backgrounds */
.white-bg { background: #fff; }
.grey-bg { background: #f7f7f7; }
.orange-bg { background-color: #FFB95A; }
.black-bg { background-color: #000}
.blue-bg { background-color: #8AC2FF}


/* Type */
.white { color: rgba(255,255,255,1); }
.white-secondary { color: rgba(255,255,255,.6); }
.black { color: rgba(0,0,0,.8); }
.black-secondary { color: rgba(0,0,0,.5); }



/* ----------------------------------------
Typography
---------------------------------------- */
:root {
font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: none;
	font-style: normal;
	text-rendering: optimizeLegibility;
	line-height: 1.1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
	text-decoration:none;
}


/* Large Heading */
h1 {font-size: 18px; line-height: 24px;}

/* Medium Heading */
h2 {font-size: 32px; line-height: 42px; font-weight: bold}

/* Small Heading */
h3 {font-size: 24px; line-height: 36px;}

/* Subhead */
h4 {font-size: 10px; line-height: 32px; letter-spacing: 1px;}

/* Label */
h5 {font-size: 10px; line-height: 32px; letter-spacing: 1px; font-weight: bold}
/* h6 {font-size: 18px; line-height: 27px;} */

/* Small Body */
.small-type {font-size: 12px; line-height: 36px;}

a {
    text-decoration: none;
    line-height: inherit;
    color: inherit;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover {color: #000000; }
a:focus {color: #000000; outline: none; }

p { /*margin-bottom: 10px;*/ padding:0; font-size: 1rem; line-height: 37px; }
p span {color: #46aae3; }
p a, p a:visited {line-height: inherit; }

i { font-style: italic; line-height: inherit; }
strong, b { /*font-weight: bold; line-height: inherit;*/color: rgba(0,0,0,.5);  }
small { font-size: 70%; line-height: inherit; }


/* Type Alignment */
.right {margin-left: auto;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}


/* ----------------------------------------
Lists
---------------------------------------- */
ul, ol, dl { margin-bottom: 8px; list-style-position: inside; }
li { list-style-type: none; }
ul li ul, ul li ol { margin-bottom: 0; }
ol li ul, ol li ol { margin-bottom: 0; }


/* ----------------------------------------
Images
---------------------------------------- */
img { display: block; max-width: 100%; height: auto; }



/* ----------------------------------------
Bnfrd Customs
---------------------------------------- */

.header {
	height: 164px;
	justify-content: space-between;
	z-index: 100;
	/* max-width: 1680px; */
}

.project {

}

.headerfix {
	margin-top:-164px;
}

.store-photo {
	max-height:656px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	border-radius: 1rem;
}

.about-me {
	padding-left: 80px;
}

.square {
	width: 25vw;
	height: 25vw;
}

.kitty-1 {
	background-image: url('kitty1.jpg');
	background-repeat: no-repeat;
	background-size: contain;
}

.kitty-2 {
	background-image: url('kitty2.jpg');
	background-repeat: no-repeat;
	background-size: contain;
}

.kitty-3 {
	background-image: url('kitty3.jpg');
	background-repeat: no-repeat;
	background-size: contain;
}

.kitty-4 {
	background-image: url('kitty4.jpg');
	background-repeat: no-repeat;
	background-size: contain;
}





/* ----------------------------------------
Media Queries
---------------------------------------- */
/* Media query for 1024 Screens */
@media only screen and (max-width:1440px){

	/* .header {
		background-color: yellow;
	} */

	.s1 {width: 8.333vw; height: 8.333vw;}
	.s2 {width: 16.667vw; height: 16.667vw;}
	.s3 {width: 25vw; height: 25vw;}
	.s4 {width: 33.333vw; height: 33.333vw;}
	.s5 {width: 41.667vw; height: 41.667vw;}
	.s6 {width: 50vw; height: 50vw;}

	/* ----------------------------------------
	Grid
	---------------------------------------- */

.c1m,
.c2m,
.c3m,
.c4m,
.c5m,
.c6m,
.c7m,
.c8m,
.c9m,
.c10m,
.c11m,
.c12m {
	box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.c1m {flex-basis:8.33%; -ms-flex-preferred-size: 8.333%;}
.c2m {flex-basis:16.66%; -ms-flex-preferred-size: 16.667%}
.c3m {flex-basis:25%; -ms-flex-preferred-size: 25%}
.c4m {flex-basis:33.333%; -ms-flex-preferred-size: 33.333%}
.c5m {flex-basis:41.66%; -ms-flex-preferred-size: 41.66%}
.c6m {flex-basis:50%; -ms-flex-preferred-size: 50%;}
.c7m {flex-basis:58.33%; -ms-flex-preferred-size:58.33%;}
.c8m {flex-basis:66.66%; -ms-flex-preferred-size: 66.66%;}
.c9m {flex-basis:75%; -ms-flex-preferred-size: 75%;}
.c10m {flex-basis:83.33%; -ms-flex-preferred-size: 83.33%;}
.c11m {flex-basis:91.66%; -ms-flex-preferred-size: 91.66%;}
.c12m {flex-basis:100%; -ms-flex-preferred-size: 100%;}

.c-offset-1m {margin-left: 8.333%;}
.c-offset-2m {margin-left: 16.667%;}
.c-offset-3m {margin-left: 25%;}
.c-offset-4m {margin-left: 33.333%;}
.c-offset-5m {margin-left: 41.667%;}
.c-offset-6m {margin-left: 50%;}
.c-offset-7m {margin-left: 58.333%;}
.c-offset-8m {margin-left: 66.667%;}
.c-offset-9m {margin-left: 75%;}
.c-offset-10m {margin-left: 83.333%;}
.c-offset-11m {margin-left: 91.66%;}

}

/* Media query for 960 Screens*/
@media only screen and (max-width:960px){

/* .header {
	background-color: blue;
} */

	/* ----------------------------------------
	Grid
	---------------------------------------- */

.c1s,
.c2s,
.c3s,
.c4s,
.c5s,
.c6s,
.c7s,
.c8s,
.c9s,
.c10s,
.c11s,
.c12s {
	box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.c1s {flex-basis:8.33%; -ms-flex-preferred-size: 8.333%;}
.c2s {flex-basis:16.66%; -ms-flex-preferred-size: 16.667%}
.c3s {flex-basis:25%; -ms-flex-preferred-size: 25%}
.c4s {flex-basis:33.333%; -ms-flex-preferred-size: 33.333%}
.c5s {flex-basis:41.66%; -ms-flex-preferred-size: 41.66%}
.c6s {flex-basis:50%; -ms-flex-preferred-size: 50%;}
.c7s {flex-basis:58.33%; -ms-flex-preferred-size:58.33%;}
.c8 {flex-basis:66.66%; -ms-flex-preferred-size: 66.66%;}
.c9s {flex-basis:75%; -ms-flex-preferred-size: 75%;}
.c10s {flex-basis:83.33%; -ms-flex-preferred-size: 83.33%;}
.c11s {flex-basis:91.66%; -ms-flex-preferred-size: 91.66%;}
.c12s {flex-basis:100%; -ms-flex-preferred-size: 100%;}

.c-offset-1s {margin-left: 8.333%;}
.c-offset-2s {margin-left: 16.667%;}
.c-offset-3s {margin-left: 25%;}
.c-offset-4s {margin-left: 33.333%;}
.c-offset-5s {margin-left: 41.667%;}
.c-offset-6s {margin-left: 50%;}
.c-offset-7s {margin-left: 58.333%;}
.c-offset-8s {margin-left: 66.667%;}
.c-offset-9s {margin-left: 75%;}
.c-offset-10s {margin-left: 83.333%;}
.c-offset-11s {margin-left: 91.66%;}

}

/* Media query for iPad and tablets */
@media handheld, only screen and (max-width: 768px), only screen and (max-device-width: 768px) and (orientation:portrait){

	.header {
		height: 72px;
	}

	.container {
		/* max-width: 1680px; */
		margin: 0 1rem;
	}

	.headerfix {
		margin-top:-72px;
	}
	.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11,.c12{
	flex-basis:100%;
	padding-right:16px;
	padding-left:16px;
}
	.about-me {
		padding-left: 0px;
	}

	/* ----------------------------------------
	Grid
	---------------------------------------- */

.c1xs,
.c2xs,
.c3xs
.c4xs,
.c5xs,
.c6xs,
.c7xs,
.c8xs,
.c9xs,
.c10xs,
.c11xs,
.c12xs {
	box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.c1xs {flex-basis:8.33%; -ms-flex-preferred-size: 8.333%;}
.c2xs {flex-basis:16.66%; -ms-flex-preferred-size: 16.667%}
.c3xs {flex-basis:25%; -ms-flex-preferred-size: 25%}
.c4xs {flex-basis:33.333%; -ms-flex-preferred-size: 33.333%}
.c5xs {flex-basis:41.66%; -ms-flex-preferred-size: 41.66%}
.c6xs {flex-basis:50%; -ms-flex-preferred-size: 50%;}
.c7xs {flex-basis:58.33%; -ms-flex-preferred-size:58.33%;}
.c8xs {flex-basis:66.66%; -ms-flex-preferred-size: 66.66%;}
.c9xs {flex-basis:75%; -ms-flex-preferred-size: 75%;}
.c10xs {flex-basis:83.33%; -ms-flex-preferred-size: 83.33%;}
.c11xs {flex-basis:91.66%; -ms-flex-preferred-size: 91.66%;}
.c12xs {flex-basis:100%; -ms-flex-preferred-size: 100%;}

.c-offset-0xs {margin-left: 0;}
.c-offset-1xs {margin-left: 8.333%;}
.c-offset-2xs {margin-left: 16.667%;}
.c-offset-3xs {margin-left: 25%;}
.c-offset-4xs {margin-left: 33.333%;}
.c-offset-5xs {margin-left: 41.667%;}
.c-offset-6xs {margin-left: 50%;}
.c-offset-7xs {margin-left: 58.333%;}
.c-offset-8xs {margin-left: 66.667%;}
.c-offset-9xs {margin-left: 75%;}
.c-offset-10xs {margin-left: 83.333%;}
.c-offset-11xs {margin-left: 91.66%;}

.s12xs {width: 100vw; height: 100vw; margin-bottom: 1rem;}

}
