/*
 * Chord Practice
 */

/* ----------------------------------------
HTML RESET
---------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}

html {
	font-size: 1.0rem;
}

body {
	font-size:100%;
	line-height: 1.5;
	letter-spacing: -.01em;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: none;
	font-family: Gotham;
	background-color: #f7f7f7;
  color: rgba(0,0,0,.87)
}

ul {
  list-style: none;
}

button {
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	cursor:pointer;
	padding:0;
	margin:0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, label, legend { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-spacing: 0; }

/* ----------------------------------------
Clearfixes
---------------------------------------- */
.row:before,.row:after,.clearfix:before,.clearfix:after{content:'';display:table}
.row:after,.clearfix:after{clear:both}
.row,.clearfix{zoom:1}


/* ----------------------------------------
Fonts
---------------------------------------- */

@font-face {
  /* Gotham 400, 1F0746AE386DF76B4.eot */
  font-family: 'Gotham';
  src: url('/fonts/gotham.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* Gotham 700, 6BB629FAC2C10DA4B.eot */
  font-family: 'Gotham';
  src: url('/fonts/gotham-bold.woff');
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
}


/* ----------------------------------------
Typography
---------------------------------------- */

/* Option 2 */

.mini-box {
	height:100%;
	width: 100%;
	background:rgba(0,0,0,0);
	z-index:1;
	transform: scale(.4);
	border-radius: 50px;
	position: absolute;
	top:0;
	right:0;
	transition: all .2s ease;
	/* transition: all .2s ease; */
}


/* --------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
*/

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input, button, submit { border:none; }



/* ----------------------------------------
Start Coding Here 👇🏼
---------------------------------------- */

.note {
	text-transform: uppercase;
	padding: 8px 2px;
}

.chord {
	display: flex;
}

.baby-sharp {
	font-size:12px;
	position:relative;
	bottom:3px;
}






/* ----------------------------------------
Breakpoints
---------------------------------------- */

/* --breakpointSm */
@media only screen and (min-width: 480px) {

}

/* --breakpointMd */
@media only screen and (min-width: 768px) {

}

/* --breakpointLg */
@media only screen and (min-width: 1024px) {

}

/* --breakpointXl */
@media only screen and (min-width: 1280px) {

}

/* --breakpointXxl */
@media only screen and (min-width: 1600px) {

}
