/* V-1.0 Ben Ford Website */

/* ----------------------------------------
HTML RESET
---------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, label, legend { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-spacing: 0; }

body {
    overflow-x: hidden;
}

section {
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

/* Clearfixes */
.row:before,.row:after,.clearfix:before,.clearfix:after{content:'';display:table}
.row:after,.clearfix:after{clear:both}
.row,.clearfix{zoom:1}

/* ----------------------------------------
Fonts
---------------------------------------- */
@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Ultra-Light.woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Ultra-Light-Oblique.woff2');
  font-weight: 100;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Thin.woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Thin-Oblique.woff2');
  font-weight: 200;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Light.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Light-Oblique.woff2');
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Regular-Oblique.woff2');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Medium-Oblique.woff2');
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Bold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Bold-Oblique.woff2');
  font-weight: 600;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Black.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Black-Oblique.woff2');
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Ultra-Bold.woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Ultra-Bold-Oblique.woff2');
  font-weight: 800;
  font-style: oblique;
}

@font-face {
  font-family: 'Cooper-BT';
  src: url('/fonts/CooperBT/CooperBT-Light.woff');
  font-weight: 200;
}

@font-face {
  font-family: 'Cooper-BT';
  src: url('/fonts/CooperBT/CooperBT-Light Italic.woff');
  font-weight: 200;
	font-style: italic;
}

@font-face {
  font-family: 'Cooper-BT';
  src: url('/fonts/CooperBT/CooperBT-Medium.woff');
  font-weight: 300;
}

body {
  font-family: GT-Walsheim, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.italic {
	font-style: italic;
}

/* ----------------------------------------
Colors
---------------------------------------- */

.colorWhite {background-color: #ffffff;}

.colorGrayNatural {background-color: #f7f7f7;}

.colorCream {background-color: #f3f1e7;}

.colorCeramic {background-color: #edebe9;}

.colorBlack {background-color: #000000;}

.colorBlackWarm {background-color: #2d2926;}

.colorBlackWarmer {background-color: #3d3935;}

.colorGreenStarbucks {background-color: #00653e;}

.colorGreenApron {background-color: #00a862;}

.colorGreenDarkApron {background-color: #008248;}

.colorGold {background-color: #c2a661;}

.colorRed {background-color: #e75b52;}

.colorYellow {background-color: #fbbc05;}


/* Warm black with alpha */
.colorBlackWarm12 {background-color:rgba(45, 41, 38, .12);}


/* Black with alpha */
.colorBlack10 {background-color:rgba(0, 0, 0, .1);}

.colorBlack20 {background-color: rgba(0, 0, 0, .2);}

.colorBlack30 {background-color: rgba(0, 0, 0, .3);}

.colorBlack40 {background-color: rgba(0, 0, 0, .4);}

.colorBlack50 {background-color: rgba(0, 0, 0, .5);}

.colorBlack60 {background-color: rgba(0, 0, 0, .6);}

.colorBlack70 {background-color: rgba(0, 0, 0, .7);}

.colorBlack80 {background-color: rgba(0, 0, 0, .8);}

.colorBlack90 {background-color: rgba(0, 0, 0, .9);}


/* White with alpha */
.colorWhite10 {background-color: rgba(255,255,255, .1);}

.colorWhite20 {background-color: rgba(255,255,255, .2);}

.colorWhite30 {background-color: rgba(255,255,255, .3);}

.colorWhite40 {background-color: rgba(255,255,255, .4);}

.colorWhite50 {background-color: rgba(255,255,255, .5);}

.colorWhite60 {background-color: rgba(255,255,255, .6);}

.colorWhite70 {background-color: rgba(255,255,255, .7);}

.colorWhite80 {background-color: rgba(255,255,255, .8);}

.colorWhite90 {background-color: rgba(255,255,255, .9);}


/* Text with alpha */
.colorTextPrimary {color: rgba(0, 0, 0, .87);}

.colorTextSecondary {color: rgba(0, 0, 0, .35);}

.colorTextWhitePrimary {color: rgba(255, 255, 255, 1);}

.colorTextWhiteSecondary {color: rgba(255, 255, 255, .70);}

.colorPink {color: #FF95C9;}

.colorPurple {color: #B38AFF;}

.colorPeriwinkle {color: #96B2FF;}


/* ----------------------------------------
Typography
---------------------------------------- */

.heading-1 {
	font-family:Cooper-BT;
  font-size: 40px;
  font-weight: 200;
	line-height: 1.1;
}


.heading-2 {
	font-family:Cooper-BT;
  font-size: 24px;
  font-weight: 200;
  line-height: 1.25;
}

.caption {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.body-1 {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.69;
}

.body-2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.49;
}

/* Alignment (Apply to Container) */

.hstart {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  /* text-align: start; */
}

.hcenter {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  /* text-align: center; */
}

.hend {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  /* text-align: end; */
}

.top {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.nowrap {
	flex-wrap: nowrap;
}

/* Alignment (Apply to Items) */

.first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.vstart {
	align-self: flex-start;
}

.vcenter {
	align-self: center;
}

.vend {
	align-self: flex-end;
}

.centered-text {
  text-align: center;
}

/* --------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
*/

/* Global Tags */

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
	font-size:100%;
	line-height: 1;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: none;
	font-family: GT-Walsheim;
  color: rgba(0,0,0,.87)
}

ul {
  list-style: none;
}


/* Global Classes */

.relative {
  position: relative;
}

.max-fix {
	max-width: 1268px;
}

.block {
	display: block;
}

.inline-block {
	display:inline-block;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-visible {
	overflow: visible;
}

/* ----------------------------------------
Starbucks Web App
---------------------------------------- */

/* Images */

.web-app-img-1 {
  position: relative;
  width: 160%;
  left: -.8rem;
}

.web-app-img-2 {
	position: relative;
	width: 200%;
	transform: rotate(-13deg);
	z-index: -1;
}

.web-app-img-3 {
	position: relative;
	width: 80%;
	display: block;
	margin: auto;
}

.web-app-img-4 {
	position: relative;
	width: 50%;
	display: block;
	margin:auto;
}

.web-app-img-5 {
	display: block;
	margin:auto;
	width: 100%;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.35);
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	border-radius: 6px;
}

.web-app-img-6 {
	display: block;
	position: relative;
	width: 100%;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.35);
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	border-radius: 2px;
}

.web-app-img-7 {
	display: block;
	position: relative;
	width: 100%;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.35);
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	border-radius: 2px;
	left: 31%;
	top: -30%;
}

.salad-section {
	margin-top: -298px;
}

.two-screen-section {
	margin-bottom: -20%;
}


/* ----------------------------------------
Starbucks Stores
---------------------------------------- */

.stores-hero {
	position: relative;
	width: 200%;
	transform: rotate(-13deg);
}


/* ----------------------------------------
Breakpoints
---------------------------------------- */

/* --breakpointSm */
@media only screen and (min-width: 480px) {

	.sm-block {
		display: block;
	}

	.sm-inline-block {
		display:inline-block;
	}

	.sm-overflow-hidden {
		overflow: hidden;
	}

	.sm-overflow-visible {
		overflow: visible;
	}

	/* Web App */

  .web-app-img-1 {
    position: relative;
    width: 100%;
    left:0;
  }

	.web-app-img-2 {
		left: 3.2rem;
		width: 100%;
	}

	.salad-section {
		margin-top: -36%;
	}

	/* Stores */

	.stores-hero {
		left: 3.2rem;
		width: 100%;
	}

}

/* --breakpointMd */
@media only screen and (min-width: 950px) {

	.md-block {
		display: block;
	}

	.md-inline-block {
		display:inline-block;
	}


/* Typography */
  .body-1 {
  font-size: calc(16px + (17 - 16) * ((100vw - 950px) / (1280 - 950)));
  }

	.heading-1 {
  font-size: calc(40px + (47 - 40) * ((100vw - 950px) / (1280 - 950)));
  }

  .heading-2 {
  font-size: calc(24px + (28 - 24) * ((100vw - 950px) / (1280 - 950)));
  }


/* Web App */

/* Sections */
	.salad-section {
		margin-top:-20%;
	}


/* Images */
  .web-app-img-1 {
    width: 160%;
    left: 1.6rem;
  }

  .web-app-img-2 {
    position: relative;
    width: 150%;
    z-index: -1;
    /* left: 80px; */
		left: 13%;
		transform: rotate(0);
  }

	.web-app-img-5 {
		width: 80%;
	}

	/* Starbucks Stores */
	.stores-hero {
    position: relative;
    width: 150%;
		left: 13%;
		transform: rotate(0);
  }




}


/* --breakpointLg */
@media only screen and (min-width: 1024px) {

	.lg-block {
		display: block;
	}

	.lg-inline-block {
		display:inline-block;
	}

  .body-2 {
    font-size: 1.25vw;
  }




}


/* --breakpointXl */
@media only screen and (min-width: 1280px) {

	.xl-block {
		display: block;
	}

	.xl-inline-block {
		display:inline-block;
	}

  .body-1 {
    font-size: 17px;
  }

	.heading-1 {
		font-size: 47px;
	}

  .heading-2 {
    font-size: 28px;
  }

}


/* --breakpointXxl */
@media only screen and (min-width: 1440px) {

	.xxl-block {
		display: block;
	}

	.xxl-inline-block {
		display:inline-block;
	}

	/* Sections */
		.salad-section {
			margin-top:-288px;
		}




}
