/* ----------------------------------------
Fonts
---------------------------------------- */
@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Ultra-Light.woff2');
  font-weight: 100;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Ultra-Light-Oblique.woff2');
  font-weight: 100;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Thin.woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Thin-Oblique.woff2');
  font-weight: 200;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Light.woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Light-Oblique.woff2');
  font-weight: 300;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Regular.woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Regular-Oblique.woff2');
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Medium.woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Medium-Oblique.woff2');
  font-weight: 500;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Bold.woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Bold-Oblique.woff2');
  font-weight: 600;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Black.woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Black-Oblique.woff2');
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Ultra-Bold.woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'GT-Walsheim';
  src: url('/fonts/GT-Walsheim-Pro/GT-Walsheim-Pro-Ultra-Bold-Oblique.woff2');
  font-weight: 800;
  font-style: oblique;
}

@font-face {
  font-family: 'Cooper-BT';
  src: url('/fonts/CooperBT/CooperBT-Light.woff');
  font-weight: 200;
}

@font-face {
  font-family: 'Cooper-BT';
  src: url('/fonts/CooperBT/CooperBT-Light Italic.woff');
  font-weight: 200;
	font-style: italic;
}

@font-face {
  font-family: 'Cooper-BT';
  src: url('/fonts/CooperBT/CooperBT-Medium.woff');
  font-weight: 300;
}

body {
  font-family: GT-Walsheim, Helvetica Neue, Helvetica, Arial, sans-serif;
}


/* ----------------------------------------
Type Styles
---------------------------------------- */

.big-heading {
  font-family:Cooper-BT;
  font-size: 50px;
  font-weight: 200;
	line-height: 1.1;
}

.heading-1, .home-heading-1 {
	font-family:Cooper-BT;
  font-size: 40px;
  font-weight: 200;
	line-height: 1.1;
}


.heading-2 {
	font-family:Cooper-BT;
  font-size: 24px;
  font-weight: 200;
  line-height: 1.25;
}

.caption {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.body-1 {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.69;
}

.body-2 {
	font-family:GT-Walsheim;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.49;
}

.bold {
	font-weight: 500;
}

/* --breakpointSm */
@media only screen and (min-width: 480px) {

  .home-heading-1 {
  	font-size: calc(29px + (47 - 29) * ((100vw - 480px) / (1280 - 480)));
	}


}

/* --breakpointMd */
@media only screen and (min-width: 950px) {

  .big-heading {
    font-size: calc(50px + (56 - 50) * ((100vw - 950px) / (1280 - 950)));
  }

  .body-1 {
  font-size: calc(16px + (17 - 16) * ((100vw - 950px) / (1280 - 950)));
  }

	.heading-1 {
  font-size: calc(40px + (47 - 40) * ((100vw - 950px) / (1280 - 950)));
  }

  .heading-2 {
  font-size: calc(24px + (28 - 24) * ((100vw - 950px) / (1280 - 950)));
  }

}

/* --breakpointXl */
@media only screen and (min-width: 1280px) {

  .body-1 {
    font-size: 17px;
  }

	.heading-1, .home-heading-1 {
		font-size: 47px;
	}

  .heading-2 {
    font-size: 28px;
  }

}
