/*
 * V-1.0
 *
 * Starbucks Webapp Design Playground
 *
 */

/* ----------------------------------------
HTML RESET
---------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}

html {
	font-size: 1.0rem;
  box-sizing: border-box;
}

/* body,html {
  height:100%;
} */

body {
	font-size:100%;
	line-height: 1.5;
	letter-spacing: -.01em;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: none;
	font-family: Cosmica;
  color: rgba(0,0,0,.87)
}

ul {
  list-style: none;
}

button {
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	cursor:pointer;
	padding:0;
	margin:0;
  border:none;
}

a {
  text-decoration: none;
  color: inherit;
}

button:focus {
	outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, label, legend { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-spacing: 0; }

/* ----------------------------------------
Clearfixes
---------------------------------------- */
.row:before,.row:after,.clearfix:before,.clearfix:after{content:'';display:table}
.row:after,.clearfix:after{clear:both}
.row,.clearfix{zoom:1}


/* ----------------------------------------
Fonts
---------------------------------------- */

@font-face {
  font-family: 'Cosmica';
  src: url('/fonts/cosmica-book.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cosmica';
  src: url('/fonts/cosmica-book-italic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Cosmica';
  src: url('/fonts/cosmica-semibold.otf');
  font-weight: bold;
  font-style: normal;
}

button {
  flex-grow: 1;
  border-radius: 6px;
  border:1px solid rgba(0,0,0,.12);
  padding-top:8px;
  padding-bottom:8px;
  font-weight: bold;
  font-size:14px;
  font-family: cosmica;
}



/* .flat::after {
  width:19px;
  height:49px;
  left:-22px;
  content: "";
  display: block;
  background: rgba(0,0,0,.87);
  position: relative;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size:cover;
  mask-clip: border-box;
  mask-origin: border-box;
  -webkit-mask-clip: border-box;
  -webkit-mask-origin: border-box;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size:cover;
  -webkit-mask-image: url('/img/flat.svg');
  mask-image: url('/img/flat.svg');
} */

/* .sharp::after {
  width:16px;
  height:54px;
  left:-21px;
  top:-15px;
  content: "";
  display: block;
  background: rgba(0,0,0,.87);
  position: relative;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size:cover;
  mask-clip: border-box;
  mask-origin: border-box;
  -webkit-mask-clip: border-box;
  -webkit-mask-origin: border-box;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size:cover;
  -webkit-mask-image: url('/img/sharp.svg');
  mask-image: url('/img/sharp.svg');
} */



.container {
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  height:100%;
}


/* ----------------------------------------
Nav Container
---------------------------------------- */

.navigation {
  /* background:red; */
  display: flex;
}

.logo {
  color:rgba(0,0,0,.87);
  font-weight: bold;
  font-size:20px;
}

.logo span {
  color:#FC5E15;
}

.settings {
  font-weight: normal;
  font-style: normal;
  position: relative;
  transition: all ease 4ms;
  color: rgba(0,0,0,.58);
}

.settings::before {
  height:1px;
  width:62px;
  background:rgba(0,0,0,1);
  opacity: .4;
  content:"";
  position: absolute;
  bottom:2px;
  transition: bottom ease 4ms;
}

/* ----------------------------------------
Staff Area
---------------------------------------- */

.grand-staff {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.line {
  overflow:visible;
  display:flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  margin-top:-12px;
  /* border-right: 2px solid black;
  border-left: 2px solid black; */
  height:24px;
}

.line:nth-child(1) {
  margin-top:0px;
}

.line::before {
  width:100%;
  height: 1px;
  background: rgba(0,0,0,.60);
  content:"";
  position: absolute;
}

.line.ledger::before {
  width:48px;
}

.space {
  display:flex;
  align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  margin-top:-13px;
  /* border-right: 2px solid black;
  border-left: 2px solid black; */
  height:24px;
}

.note {
  width: 36px;
  height: 24px;
  mask-repeat: no-repeat;
  mask-position: center;
  position: absolute;
  visibility: hidden;
  background-image: url('/img/whole-note.svg');
}

.key {
  width:16px;
  height:54px;
  content: "";
  position: absolute;
  display: block;
  background: rgba(0,0,0,.87);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size:cover;
  mask-clip: border-box;
  mask-origin: border-box;
  -webkit-mask-clip: border-box;
  -webkit-mask-origin: border-box;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size:cover;
  -webkit-mask-image: url('/img/sharp.svg');
  mask-image: url('/img/sharp.svg');
}

.key.g {
  left:16px;
}
.key.d {
  left:32px;
}
.key.a {
  left:48px;
}
.key.e {
  left:64px;
}
.key.b {
  left:80px;
}

/* .line .note{
  visibility: hidden;
} */

/* .space .note{
  visibility: hidden;
} */


/* ----------------------------------------
Selection Area
---------------------------------------- */


.button-section {
  justify-content: center;
}

.button-container {
  max-width: 800px;
  flex-grow: 1;
}
