
.my-slider {
  /* height: auto;
  margin:auto;
  position: relative; */
  /* width:80%;
  max-width: 1106px; */
}

/* .my-slider.full-width {
  width:unset;
  max-width: unset;
} */

.slick-prev:before, .slick-next:before{
    color:red;
    height:40px;
    width:40px;
    background:black;
}

.slick-dots li button:before {
  font-size: 8px;
}

.slick-dots
{
    bottom: -64px;

}
