
/* V-1.0 Ben Ford Website */

/* ----------------------------------------
Foundational (Resets)
---------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, label, legend { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-spacing: 0; }

a {text-decoration: none; color:inherit;}

/* Clearfixes */
.row:before,.row:after,.clearfix:before,.clearfix:after{content:'';display:table}
.row:after,.clearfix:after{clear:both}
.row,.clearfix{zoom:1}





/* ----------------------------------------
-------------------------------------------
--------------PROJECT CONTENT--------------
-------------------------------------------
---------------------------------------- */

/* Global Tags /////////////////////////*/

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
	font-size:100%;
	line-height: 1;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: none;
	font-family: GT-Walsheim;
  color: rgba(0,0,0,.87);
	overflow-x:hidden;
}

ul {
  list-style: none;
}

figure {
	overflow: hidden;
}

nav {
	width:100%;
	position: fixed;
	top:0;
	z-index: 5000;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* Global Classes /////////////////////////*/

.relative {
  position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.max-fix {
	max-width: 1268px;
}

.block {
	display: block;
}

.inline-block {
	display:inline-block;
}

.rotate-90 {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.o-hidden {
	overflow: hidden;
}


/* ----------------------------------------
-------------------------------------------
-------------------Home--------------------
-------------------------------------------
---------------------------------------- */

.tiles {
	width:100%;
}

.home-row:nth-of-type(1) {
	margin-top:72px;
}

.home-row figure {
	margin-bottom:-24px;
}

.tile-1 h3 {
	left: -32px!important;
	top: 68px!important;
}

.tile-1, .tile-2, .tile-3, .tile-4, .tile-5, .tile-6, .tile-7 {
	margin-bottom: 24px;
}






/* ----------------------------------------
-------------------------------------------
-----------Starbucks Web App---------------
-------------------------------------------
---------------------------------------- */


/* Images */

.web-app-hero {
	width: 100%;
}

.web-app-img-1 {
  position: relative;
  width: 160%;
  left: -.8rem;
}

.web-app-img-2 {
	position: relative;
	width: 200%;
	transform: rotate(-13deg);
	z-index: -1;
}

.web-app-img-3 {
	position: relative;
	width: 80%;
	display: block;
	margin: auto;
}

.web-app-img-4 {
	position: relative;
	width: 50%;
	display: block;
	margin:auto;
}

.web-app-img-5 {
	display: block;
	margin:auto;
	width: 100%;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.35);
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	border-radius: 6px;
}

.web-app-img-6 {
	display: block;
	position: relative;
	width: 100%;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.35);
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	border-radius: 2px;
}

.web-app-img-7 {
	display: block;
	position: relative;
	width: 100%;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.35);
	-moz-box-shadow: 0px 0px 11px 0px rgba(50, 50, 50, 0.35);
	box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.15);
	border-radius: 2px;
	left: 31%;
	top: -30%;
}

.web-app-svg-1 {
	width: 20%;
}

/* Sections ///////////////////////////////*/

.salad-section {
	margin-top: -298px;
}

.two-screen-section {
	margin-bottom: -20%;
}


/* ----------------------------------------
-------------------------------------------
-----------Starbucks Stores----------------
-------------------------------------------
---------------------------------------- */


/* Images */

.stores-hero {
	position: relative;
	width: 200%;
	transform: rotate(-13deg);
}

.stores-hero-2 {
	width:100%;
}

.stores-hero-3 {
	width: 50%;
	display: block;
	margin: auto;
}

.stores-hero-4 {
	width:84%;
	display: block;
	margin: auto;
}

.stores-hero-5 {
	width:78%;
	left:-12%;
}



/* ----------------------------------------
-------------------------------------------
---------Starbucks Design System-----------
-------------------------------------------
---------------------------------------- */


/* Images */





/* ----------------------------------------
-------------------------------------------
---------------Breakpoints-----------------
-------------------------------------------
---------------------------------------- */

/* --breakpointSm */
@media only screen and (min-width: 480px) {

	figure {
		overflow: visible;
	}

	footer div:nth-of-type(3) {
		text-align: right;
	}


	.sm-block {
		display: block;
	}

	.sm-inline-block {
		display:inline-block;
	}

	.home-heading-1 {
	font-size: calc(29px + (47 - 29) * ((100vw - 480px) / (1280 - 480)));
	}


/* ----------------------------------------
Home -- Sm
---------------------------------------- */

.tile-1, .tile-2, .tile-3, .tile-4, .tile-5, .tile-6, .tile-7 {
	margin-bottom: 0px;
}

.home-row:nth-of-type(1) {
	margin-top:104px;
}

.tile-3, .tile-5 {
	margin-top:16px;
}

.tile-6 {
	margin-bottom:-16%;
}

/* .tile-4 > article {
	margin-top: -104px;
	margin-left:-32px;
} */



/* ----------------------------------------
Web App -- Sm
---------------------------------------- */

	.tile-1 {
		width:100%;
	}


/* ----------------------------------------
Web App -- Sm
---------------------------------------- */

	.web-app-hero {
		width: 100%;
		left: 0;
	}

  .web-app-img-1 {
    position: relative;
    width: 100%;
    left:0;
  }

	.web-app-img-2 {
		left: 3.2rem;
		width: 100%;
	}

	.salad-section {
		margin-top: -36%;
	}

/* ----------------------------------------
Starbucks Stores -- Sm
---------------------------------------- */

	.stores-hero {
		left: 3.2rem;
		width: 100%;
	}

}

/* --breakpointMd */
@media only screen and (min-width: 950px) {

	.md-block {
		display: block;
	}

	.md-inline-block {
		display:inline-block;
	}


/* Typography */

  .body-1 {
  font-size: calc(16px + (17 - 16) * ((100vw - 950px) / (1280 - 950)));
  }

	.heading-1 {
  font-size: calc(40px + (47 - 40) * ((100vw - 950px) / (1280 - 950)));
  }

  .heading-2 {
  font-size: calc(24px + (28 - 24) * ((100vw - 950px) / (1280 - 950)));
  }


/* ----------------------------------------
Home -- Md
---------------------------------------- */

	.home-row:nth-of-type(1) {
		margin-top:128px;
	}

	.tile-3 {
		margin-left:-16px;
	}

	.tile-4 {
		margin-top: -53px;
	}

	.tile-2 > article {
		margin-top:-128px;
		margin-left:-32px;
	}

	.tile-3 > article {
		margin-left: 56px;
	}

/* ----------------------------------------
Web App -- Md
---------------------------------------- */

/* Sections */
	.salad-section {
		margin-top:-20%;
	}


/* Images */

	.web-app-hero {
		width: 130%;
		left: -4rem;
	}

  .web-app-img-1 {
    width: 160%;
    left: 1.6rem;
  }

  .web-app-img-2 {
    position: relative;
    width: 150%;
    z-index: -1;
    /* left: 80px; */
		left: 13%;
		transform: rotate(0);
  }

	.web-app-img-5 {
		width: 80%;
	}

/* ----------------------------------------
Starbucks Stores -- Md
---------------------------------------- */

	.stores-hero {
    position: relative;
    width: 150%;
		left: 13%;
		top: 2%;
		transform: rotate(3deg);
  }

}


/* --breakpointLg */
@media only screen and (min-width: 1024px) {

	.lg-block {
		display: block;
	}

	.lg-inline-block {
		display:inline-block;
	}

}


/* --breakpointXl */
@media only screen and (min-width: 1280px) {

	.xl-block {
		display: block;
	}

	.xl-inline-block {
		display:inline-block;
	}

  .body-1 {
    font-size: 17px;
  }

	.heading-1, .home-heading-1 {
		font-size: 47px;
	}

  .heading-2 {
    font-size: 28px;
  }

}


/* --breakpointXxl */
@media only screen and (min-width: 1440px) {

	.xxl-block {
		display: block;
	}

	.xxl-inline-block {
		display:inline-block;
	}

/* ----------------------------------------
Starbucks Stores
---------------------------------------- */
	/* .salad-section {
		margin-top:-288px;
	} */

}
