/*
 * V-1.0
 *
 * Starbucks Webapp Design Playground
 *
 */

/* ----------------------------------------
HTML RESET
---------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}

body {
	font-size:100%;
	line-height: 1;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-shadow: none;
	font-family: Gotham;
	background-color: #f7f7f7;
  color: rgba(0,0,0,.87)
}

ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, label, legend { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-spacing: 0; }

/* ----------------------------------------
Clearfixes
---------------------------------------- */
.row:before,.row:after,.clearfix:before,.clearfix:after{content:'';display:table}
.row:after,.clearfix:after{clear:both}
.row,.clearfix{zoom:1}


/* ----------------------------------------
Fonts
---------------------------------------- */

@font-face {
  /* Gotham 400, 1F0746AE386DF76B4.eot */
  font-family: 'Gotham';
  src: url('/fonts/gotham.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* Gotham 700, 6BB629FAC2C10DA4B.eot */
  font-family: 'Gotham';
  src: url('/fonts/gotham-bold.woff');
  font-weight: bold;
  font-style: normal;
}


body {
  font-family: Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
}


/* ----------------------------------------
Spacing
---------------------------------------- */

/* Padding */
.p0 {padding:0}
.p1 {padding:4px}
.p2 {padding:8px}
.p3 {padding:16px}
.p4 {padding:24px}
.p5 {padding:32px}
.p6 {padding:40px}
.p7 {padding:48px}
.p8 {padding:56px}
.p9 {padding:64px}
.p10 {padding:72px}
.p11 {padding:80px}
.p12 {padding:88px}
.p13 {padding:96px}
.p14 {padding:104px}
.p15 {padding:112px}
.p16 {padding:120px}

.px0 {padding-left: 0px; padding-right: 0px;}
.px1 {padding-left: 4px; padding-right: 4px;}
.px2 {padding-left: 8px; padding-right: 8px;}
.px3 {padding-left: 16px; padding-right: 16px;}
.px4 {padding-left: 24px; padding-right: 24px;}
.px5 {padding-left: 32px; padding-right: 32px;}
.px6 {padding-left: 40px; padding-right: 40px;}
.px7 {padding-left: 48px; padding-right: 48px;}
.px8 {padding-left: 56px; padding-right: 56px;}
.px9 {padding-left: 64px; padding-right: 64px;}
.px10 {padding-left: 72px; padding-right: 72px;}
.px11 {padding-left: 80px; padding-right: 80px;}
.px12 {padding-left: 88px; padding-right: 88px;}
.px13 {padding-left: 96px; padding-right: 96px;}
.px14 {padding-left: 104px; padding-right: 104px;}
.px15 {padding-left: 112px; padding-right: 112px;}
.px16 {padding-left: 120px; padding-right: 120px;}

.py0 {padding-top: 0px; padding-bottom: 0px;}
.py1 {padding-top: 4px; padding-bottom: 4px;}
.py2 {padding-top: 8px; padding-bottom: 8px;}
.py3 {padding-top: 16px; padding-bottom: 16px;}
.py4 {padding-top: 24px; padding-bottom: 24px;}
.py5 {padding-top: 32px; padding-bottom: 32px;}
.py6 {padding-top: 40px; padding-bottom: 40px;}
.py7 {padding-top: 48px; padding-bottom: 48px;}
.py8 {padding-top: 56px; padding-bottom: 56px;}
.py9 {padding-top: 64px; padding-bottom: 64px;}
.py10 {padding-top: 72px; padding-bottom: 72px;}
.py11 {padding-top: 80px; padding-bottom: 80px;}
.py12 {padding-top: 88px; padding-bottom: 88px;}
.py13 {padding-top: 96px; padding-bottom: 96px;}
.py14 {padding-top: 104px; padding-bottom: 104px;}
.py15 {padding-top: 112px; padding-bottom: 112px;}
.py16 {padding-top: 120px; padding-bottom: 120px;}

.pt0 {padding-top: 0px;}
.pt1 {padding-top: 4px;}
.pt2 {padding-top: 8px;}
.pt3 {padding-top: 16px;}
.pt4 {padding-top: 24px;}
.pt5 {padding-top: 32px;}
.pt6 {padding-top: 40px;}
.pt7 {padding-top: 48px;}
.pt8 {padding-top: 56px;}
.pt9 {padding-top: 64px;}
.pt10 {padding-top: 72px;}
.pt11 {padding-top: 80px;}
.pt12 {padding-top: 88px;}
.pt13 {padding-top: 96px;}
.pt14 {padding-top: 104px;}
.pt15 {padding-top: 112px;}
.pt16 {padding-top: 120px;}

.pb0 {padding-bottom: 0px;}
.pb1 {padding-bottom: 4px;}
.pb2 {padding-bottom: 8px;}
.pb3 {padding-bottom: 16px;}
.pb4 {padding-bottom: 24px;}
.pb5 {padding-bottom: 32px;}
.pb6 {padding-bottom: 40px;}
.pb7 {padding-bottom: 48px;}
.pb8 {padding-bottom: 56px;}
.pb9 {padding-bottom: 64px;}
.pb10 {padding-bottom: 72px;}
.pb11 {padding-bottom: 80px;}
.pb12 {padding-bottom: 88px;}
.pb13 {padding-bottom: 96px;}
.pb14 {padding-bottom: 104px;}
.pb15 {padding-bottom: 112px;}
.pb16 {padding-bottom: 120px;}

.pl0 {padding-left: 0px;}
.pl1 {padding-left: 4px;}
.pl2 {padding-left: 8px;}
.pl3 {padding-left: 16px;}
.pl4 {padding-left: 24px;}
.pl5 {padding-left: 32px;}
.pl6 {padding-left: 40px;}
.pl7 {padding-left: 48px;}
.pl8 {padding-left: 56px;}
.pl9 {padding-left: 64px;}
.pl10 {padding-left: 72px;}
.pl11 {padding-left: 80px;}
.pl12 {padding-left: 88px;}
.pl13 {padding-left: 96px;}
.pl14 {padding-left: 104px;}
.pl15 {padding-left: 112px;}
.pl16 {padding-left: 120px;}

.pr0 {padding-right: 0;}
.pr1 {padding-right: 4px;}
.pr2 {padding-right: 8px;}
.pr3 {padding-right: 16px;}
.pr4 {padding-right: 24px;}
.pr5 {padding-right: 32px;}
.pr6 {padding-right: 40px;}
.pr7 {padding-right: 48px;}
.pr8 {padding-right: 56px;}
.pr9 {padding-right: 64px;}
.pr10 {padding-right: 72px;}
.pr11 {padding-right: 80px;}
.pr12 {padding-right: 88px;}
.pr13 {padding-right: 96px;}
.pr14 {padding-right: 104px;}
.pr15 {padding-right: 112px;}
.pr16 {padding-right: 120px;}

/* Margin */
.m0 {margin:0}
.m1 {margin:4px}
.m2 {margin:8px}
.m3 {margin:16px}
.m4 {margin:24px}
.m5 {margin:32px}
.m6 {margin:40px}
.m7 {margin:48px}
.m8 {margin:56px}
.m9 {margin:64px}
.m10 {margin:72px}
.m11 {margin:80px}
.m12 {margin:88px}
.m13 {margin:96px}
.m14 {margin:104px}
.m15 {margin:112px}
.m16 {margin:120px}

.mx0 {margin-left: 0px; margin-right: 0px;}
.mx1 {margin-left: 4px; margin-right: 4px;}
.mx2 {margin-left: 8px; margin-right: 8px;}
.mx3 {margin-left: 16px; margin-right: 16px;}
.mx4 {margin-left: 24px; margin-right: 24px;}
.mx5 {margin-left: 32px; margin-right: 32px;}
.mx6 {margin-left: 40px; margin-right: 40px;}
.mx7 {margin-left: 48px; margin-right: 48px;}
.mx8 {margin-left: 56px; margin-right: 56px;}
.mx9 {margin-left: 64px; margin-right: 64px;}
.mx10 {margin-left: 72px; margin-right: 72px;}
.mx11 {margin-left: 80px; margin-right: 80px;}
.mx12 {margin-left: 88px; margin-right: 88px;}
.mx13 {margin-left: 96px; margin-right: 96px;}
.mx14 {margin-left: 104px; margin-right: 104px;}
.mx15 {margin-left: 112px; margin-right: 112px;}
.mx16 {margin-left: 120px; margin-right: 120px;}

.my0 {margin-top: 0px; margin-bottom: 0px;}
.my1 {margin-top: 4px; margin-bottom: 4px;}
.my2 {margin-top: 8px; margin-bottom: 8px;}
.my3 {margin-top: 16px; margin-bottom: 16px;}
.my4 {margin-top: 24px; margin-bottom: 24px;}
.my5 {margin-top: 32px; margin-bottom: 32px;}
.my6 {margin-top: 40px; margin-bottom: 40px;}
.my7 {margin-top: 48px; margin-bottom: 48px;}
.my8 {margin-top: 56px; margin-bottom: 56px;}
.my9 {margin-top: 64px; margin-bottom: 64px;}
.my10 {margin-top: 72px; margin-bottom: 72px;}
.my11 {margin-top: 80px; margin-bottom: 80px;}
.my12 {margin-top: 88px; margin-bottom: 88px;}
.my13 {margin-top: 96px; margin-bottom: 96px;}
.my14 {margin-top: 104px; margin-bottom: 104px;}
.my15 {margin-top: 112px; margin-bottom: 112px;}
.my16 {margin-top: 120px; margin-bottom: 120px;}

.mt0 {margin-top: 0px;}
.mt1 {margin-top: 4px;}
.mt2 {margin-top: 8px;}
.mt3 {margin-top: 16px;}
.mt4 {margin-top: 24px;}
.mt5 {margin-top: 32px;}
.mt6 {margin-top: 40px;}
.mt7 {margin-top: 48px;}
.mt8 {margin-top: 56px;}
.mt9 {margin-top: 64px;}
.mt10 {margin-top: 72px;}
.mt11 {margin-top: 80px;}
.mt12 {margin-top: 88px;}
.mt13 {margin-top: 96px;}
.mt14 {margin-top: 104px;}
.mt15 {margin-top: 112px;}
.mt16 {margin-top: 120px;}

.mb0 {margin-bottom: 0px;}
.mb1 {margin-bottom: 4px;}
.mb2 {margin-bottom: 8px;}
.mb3 {margin-bottom: 16px;}
.mb4 {margin-bottom: 24px;}
.mb5 {margin-bottom: 32px;}
.mb6 {margin-bottom: 40px;}
.mb7 {margin-bottom: 48px;}
.mb8 {margin-bottom: 56px;}
.mb9 {margin-bottom: 64px;}
.mb10 {margin-bottom: 72px;}
.mb11 {margin-bottom: 80px;}
.mb12 {margin-bottom: 88px;}
.mb13 {margin-bottom: 96px;}
.mb14 {margin-bottom: 104px;}
.mb15 {margin-bottom: 112px;}
.mb16 {margin-bottom: 120px;}

.ml0 {margin-left: 0px;}
.ml1 {margin-left: 4px;}
.ml2 {margin-left: 8px;}
.ml3 {margin-left: 16px;}
.ml4 {margin-left: 24px;}
.ml5 {margin-left: 32px;}
.ml6 {margin-left: 40px;}
.ml7 {margin-left: 48px;}
.ml8 {margin-left: 56px;}
.ml9 {margin-left: 64px;}
.ml10 {margin-left: 72px;}
.ml11 {margin-left: 80px;}
.ml12 {margin-left: 88px;}
.ml13 {margin-left: 96px;}
.ml14 {margin-left: 104px;}
.ml15 {margin-left: 112px;}
.ml16 {margin-left: 120px;}

.mr0 {margin-right: 0;}
.mr1 {margin-right: 4px;}
.mr2 {margin-right: 8px;}
.mr3 {margin-right: 16px;}
.mr4 {margin-right: 24px;}
.mr5 {margin-right: 32px;}
.mr6 {margin-right: 40px;}
.mr7 {margin-right: 48px;}
.mr8 {margin-right: 56px;}
.mr9 {margin-right: 64px;}
.mr10 {margin-right: 72px;}
.mr11 {margin-right: 80px;}
.mr12 {margin-right: 88px;}
.mr13 {margin-right: 96px;}
.mr14 {margin-right: 104px;}
.mr15 {margin-right: 112px;}
.mr16 {margin-right: 120px;}

/* ----------------------------------------
Colors
---------------------------------------- */

.colorWhite {background-color: #ffffff;}

.colorGrayNatural {background-color: #f7f7f7;}

.colorCream {background-color: #f3f1e7;}

.colorCeramic {background-color: #edebe9;}

.colorBlack {background-color: #000000;}

.colorBlackWarm {background-color: #2d2926;}

.colorBlackWarmer {background-color: #3d3935;}

.colorGreenStarbucks {background-color: #00653e;}

.colorGreenApron {background-color: #00a862;}

.colorGreenDarkApron {background-color: #008248;}

.colorGold {background-color: #c2a661;}

.colorRed {background-color: #e75b52;}

.colorYellow {background-color: #fbbc05;}


/* Warm black with alpha */
.colorBlackWarm12 {background-color:rgba(45, 41, 38, .12);}


/* Black with alpha */
.colorBlack10 {background-color:rgba(0, 0, 0, .1);}

.colorBlack20 {background-color: rgba(0, 0, 0, .2);}

.colorBlack30 {background-color: rgba(0, 0, 0, .3);}

.colorBlack40 {background-color: rgba(0, 0, 0, .4);}

.colorBlack50 {background-color: rgba(0, 0, 0, .5);}

.colorBlack60 {background-color: rgba(0, 0, 0, .6);}

.colorBlack70 {background-color: rgba(0, 0, 0, .7);}

.colorBlack80 {background-color: rgba(0, 0, 0, .8);}

.colorBlack90 {background-color: rgba(0, 0, 0, .9);}


/* White with alpha */
.colorWhite10 {background-color: rgba(255,255,255, .1);}

.colorWhite20 {background-color: rgba(255,255,255, .2);}

.colorWhite30 {background-color: rgba(255,255,255, .3);}

.colorWhite40 {background-color: rgba(255,255,255, .4);}

.colorWhite50 {background-color: rgba(255,255,255, .5);}

.colorWhite60 {background-color: rgba(255,255,255, .6);}

.colorWhite70 {background-color: rgba(255,255,255, .7);}

.colorWhite80 {background-color: rgba(255,255,255, .8);}

.colorWhite90 {background-color: rgba(255,255,255, .9);}


/* Text with alpha */
.colorTextBlack {color: rgba(0, 0, 0, .87);}

.colorTextBlackSoft {color: rgba(0, 0, 0, .56);}

.colorTextWhite {color: rgba(255, 255, 255, 1);}

.colorTextWhiteSoft {color: rgba(255, 255, 255, .70);}


/* ----------------------------------------
Typography
---------------------------------------- */

/* Headings */

.sb-heading {
  font-weight: 400;
}

.sb-heading--extraLarge {
  font-size: 31px;
  line-height: 1.29;
}

.sb-heading--large {
  font-size: 26px;
  line-height: 1.385;
}

.sb-heading--medium {
  font-size: 22px;
  line-height: 1.455;
}

.sb-heading--small {
  font-size: 19px;
  line-height: 1.263;
}

.sb-heading--xsmall {
  font-size: 17px;
  line-height: 1.411;
}

.sb-heading--xxsmall {
  font-size: 14px;
  line-height: 1.229;
}

/* Text Sizing */

.text-xxs {
  font-size: 12px !important;
}
.text-xs {
  font-size: 13px !important;
}
.text-sm {
  font-size: 14px !important;
}
.text-md {
  font-size: 17px !important;
}
.text-lg {
  font-size: 19px !important;
}
.text-xl {
  font-size: 22px !important;
}
.text-xxl {
  font-size: 26px !important;
}
.text-xxxl {
  font-size: 31px !important;
}


/* Text Styling */

.text-bold {
  font-weight: 700 !important;
}
.text-upper {
  text-transform: uppercase !important;
  letter-spacing: 0.1em !important;
}
.text-underline {
  text-decoration: underline !important;
}
.text-noUnderline {
  text-decoration: none !important;
}
.whiteSpace-normal {
  white-space: normal !important;
}
.whiteSpace-no-wrap {
  white-space: no-wrap !important;
}
.whiteSpace-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.letterSpacing-loose {
  letter-spacing: 0.05em !important;
}
.letterSpacing-looser {
  letter-spacing: 0.1em !important;
}

/* ----------------------------------------
Cards
---------------------------------------- */

.cardShadow {box-shadow: 0px 0px .5px 0px rgba(0,0,0,0.14), 0px 1px 1px 0px rgba(0,0,0,0.24);}
.cardCorner {border-radius: 2px;}
.card {
  display: flex;
  flex-flow: nowrap;
  padding: 16px;
}


/* ----------------------------------------
Flexbox
---------------------------------------- */

.row {
  display: flex;
  flex-wrap: wrap;
	flex-direction: row;
}

/* Grid */

.c1 {flex-basis:8.33%; -ms-flex-preferred-size: 8.333%;}
.c2 {flex-basis:16.66%; -ms-flex-preferred-size: 16.667%}
.c3 {flex-basis:25%; -ms-flex-preferred-size: 25%}
.c4 {flex-basis:33.333%; -ms-flex-preferred-size: 33.333%}
.c5 {flex-basis:41.66%; -ms-flex-preferred-size: 41.66%}
.c6 {flex-basis:50%; -ms-flex-preferred-size: 50%;}
.c7 {flex-basis:58.33%; -ms-flex-preferred-size:58.33%;}
.c8 {flex-basis:66.66%; -ms-flex-preferred-size: 66.66%;}
.c9 {flex-basis:75%; -ms-flex-preferred-size: 75%;}
.c10 {flex-basis:83.33%; -ms-flex-preferred-size: 83.33%;}
.c11 {flex-basis:91.66%; -ms-flex-preferred-size: 91.66%;}
.c12 {flex-basis:100%; -ms-flex-preferred-size: 100%;}


/* Alignment (Apply to Container) */

.hstart {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  /* text-align: start; */
}

.hcenter {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  /* text-align: center; */
}

.hend {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  /* text-align: end; */
}

.top {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.no-wrap {
	flex-wrap: nowrap;
}

/* Alignment (Apply to Items) */

.first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.vstart {
	align-self: flex-start;
}

.vcenter {
	align-self: center;
}

.vend {
	align-self: flex-end;
}



/* --------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
-----------------------------------------------------------------------------------
*/

html, body {
  height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.sb-headerCrate {
  box-shadow: 0 0 2px 0 rgba(0,0,0,.24), 0 4px 4px 0 rgba(0,0,0,.12);
  z-index: 50;
  overflow-y: hidden;
  overflow-x: hidden;
  display:flex;
  flex-wrap: wrap;
}

/* .sb-contentCrate {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;
	padding-top: 16px;
} */


.sb-navbar .row ul li:nth-child(4) {
	display: none;
}

.sb-contentCrateContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  padding-left: 16px;
  padding-right: 16px;
	padding-top: 16px;
}

.sb-navbar {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 74px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
}

.sb-navbar ul {
  padding-left: 8px;
}

.sb-navbar ul li {
  padding-left: 8px;
}

.sb-navbar-siren {
  width: 40px;
  height: 40px;
  background-image: url('/sbux/archive/button-animations/img/siren.png'), url('/img/siren.png');
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 40px;
}

.burger.vcenter {
	margin-left: auto;
}

.greeting {
  padding-left: 16px;
  padding-bottom: 16px;
}




/* ----------------------------------------
Buttons
---------------------------------------- */


/* Light Background */

.heart, .plus, .minus, .close, .burger {
  height: 48px;
  width: 48px;
	border-radius: 500px;
	cursor: pointer;
}

.heart-img {
	height: 24px;
  width: 24px;
	left: 12px;
	top: 12px;
	position: relative;
	background-color: rgba(0,0,0,.58);
  -webkit-mask-image: url('/sbux/archive/button-animations/img/heart.svg'), url('/img/heart.svg');
  mask-image: url('/sbux/archive/button-animations/img/heart.svg'), url('/img/heart.svg');
	background-size: cover;
	z-index: 1;
}

.plus-img {
  height: 24px;
  width: 24px;
	left: 12px;
	top: 12px;
	position: relative;
	background-color: rgba(0,0,0,.58);
  -webkit-mask-image: url('/sbux/archive/button-animations/img/plus.svg'), url('/img/plus.svg');
  mask-image: url('/sbux/archive/button-animations/img/plus.svg'), url('/img/plus.svg');
	background-size: cover;
}

.minus-img {
	height: 24px;
  width: 24px;
	left: 12px;
	top: 12px;
	position: relative;
	background-color: rgba(0,0,0,.58);
  -webkit-mask-image: url('/sbux/archive/button-animations/img/minus.svg'), url('/img/minus.svg');
  mask-image: url('/sbux/archive/button-animations/img/minus.svg'), url('/img/minus.svg');
	background-size: cover;
}

.close-img {
	height: 24px;
  width: 24px;
	left: 12px;
	top: 12px;
	position: relative;
	background-color: rgba(0,0,0,.58);
  -webkit-mask-image: url('/sbux/archive/button-animations/img/close.svg'), url('/img/close.svg');
  mask-image: url('/sbux/archive/button-animations/img/close.svg'), url('/img/close.svg');
	background-size: cover;
}

.burger-img {
	height: 24px;
  width: 24px;
	left: 12px;
	top: 12px;
	position: relative;
	background-color: rgba(0,0,0,.58);
  -webkit-mask-image: url('/sbux/archive/button-animations/img/burger.svg'), url('/img/burger.svg');
  mask-image: url('/sbux/archive/button-animations/img/burger.svg'), url('/img/burger.svg');
	background-size: cover;
}

.hover {
	width: 40px;
	height:40px;
	left: 4px;
	top: 4px;
	position: relative;
	border-radius: 500px;
	transform: scale(.4);
	transition: all .2s ease;
}

.minus:hover .hover, .plus:hover .hover, .heart:hover .hover, .close:hover .hover, .burger:hover .hover {
	transform: scale(1);
	background: rgba(0,0,0,.06);
	transition: all .2s ease;
}

.minus:active .hover, .plus:active .hover, .heart:active .hover, .close:active .hover, .burger:active .hover {
	background: rgba(0,0,0,.12);
	transition: none;
	transform: scale(.)
}

.minus:hover .minus-img, .plus:hover .plus-img, .heart:hover .heart-img, .close:hover .close-img,.burger:hover .burger-img {
	/* transform: scale(1.1); */
	transition: all .2s ease;
	background-color: rgba(0,0,0,.87)
}

.minus:active .minus-img, .plus:active .plus-img, .heart:active .heart-img, .close:active .close-img, .burger:active .burger-img {
	transform: scale(1);
}

.minus-img, .plus-img, .heart-img, .close-img, .burger-img {
	transition: all .2s ease;
}

.minus, .plus, .heart, .close, .burger {
	transition: all .2s ease;
}

.minus-img, .plus-img, .heart-img, .close-img, .burger-img {
	margin-top: -40px;
}

.minus:active, .plus:active, .heart:active, .close:active, .burger:active {
	transform: scale(.95);
}



/* Dark Background */

.heart, .plus, .minus, .close, .burger {
  height: 48px;
  width: 48px;
	border-radius: 500px;
	cursor: pointer;
}

.heart-img.dark {
	height: 24px;
  width: 24px;
	left: 12px;
	top: 12px;
	position: relative;
	background-color: rgba(255,255,255,.87);
  -webkit-mask-image: url('/sbux/archive/button-animations/img/heart.svg'), url('/img/heart.svg');
  mask-image: url('/sbux/archive/button-animations/img/heart.svg'), url('/img/heart.svg');
	background-size: cover;
	z-index: 1;
}

.plus-img.dark {
  height: 24px;
  width: 24px;
	left: 12px;
	top: 12px;
	position: relative;
	background-color: rgba(255,255,255,.87);
  -webkit-mask-image: url('/sbux/archive/button-animations/img/plus.svg'), url('/img/plus.svg');
  mask-image: url('/sbux/archive/button-animations/img/plus.svg'), url('/img/plus.svg');
	background-size: cover;
}

.minus-img.dark {
	height: 24px;
  width: 24px;
	left: 12px;
	top: 12px;
	position: relative;
	background-color: rgba(255,255,255,.87);
  -webkit-mask-image: url('/sbux/archive/button-animations/img/minus.svg'), url('/img/minus.svg');
  mask-image: url('/sbux/archive/button-animations/img/minus.svg'), url('/img/minus.svg');
	background-size: cover;
}

.close-img.dark {
	height: 24px;
  width: 24px;
	left: 12px;
	top: 12px;
	position: relative;
	background-color: rgba(255,255,255,.87);
  -webkit-mask-image: url('/sbux/archive/button-animations/img/close.svg'), url('/img/close.svg');
  mask-image: url('/sbux/archive/button-animations/img/close.svg'), url('/img/close.svg');
	background-size: cover;
}

.burger-img.dark {
	height: 24px;
  width: 24px;
	left: 12px;
	top: 12px;
	position: relative;
	background-color: rgba(255,255,255,.87);
  -webkit-mask-image: url('/sbux/archive/button-animations/img/burger.svg'), url('/img/burger.svg');
  mask-image: url('/sbux/archive/button-animations/img/burger.svg'), url('/img/burger.svg');
	background-size: cover;
}

.hover {
	width: 40px;
	height:40px;
	left: 4px;
	top: 4px;
	position: relative;
	border-radius: 500px;
	transform: scale(.4);
	transition: all .2s ease;
}

.minus.dark:hover .hover, .plus.dark:hover .hover, .heart.dark:hover .hover, .close.dark:hover .hover, .burger.dark:hover .hover {
	transform: scale(1);
	background: rgba(255,255,255,.12);
	transition: all .2s ease;
}

.minus.dark:active .hover, .plus.dark:active .hover, .heart.dark:active .hover, .close.dark:active .hover, .burger.dark:active .hover {
	background: rgba(255,255,255,.20);
	transition: none;
	transform: scale(1)
}

.minus.dark:hover .minus-img, .plus.dark:hover .plus-img, .heart.dark:hover .heart-img, .close.dark:hover .close-img,.burger.dark:hover .burger-img {
	/* transform: scale(1.1); */
	transition: all .2s ease;
	background-color: rgba(255,255,255,1)
}

.minus:active .minus-img, .plus:active .plus-img, .heart:active .heart-img, .close:active .close-img, .burger:active .burger-img {
	transform: scale(1);
}

.minus-img, .plus-img, .heart-img, .close-img, .burger-img {
	transition: all .2s ease;
}

.minus, .plus, .heart, .close, .burger {
	transition: all .2s ease;
}

.minus-img, .plus-img, .heart-img, .close-img, .burger-img {
	margin-top: -40px;
}

.minus:active, .plus:active, .heart:active, .close:active, .burger:active {
	transform: scale(.95);
}




/* ----------------------------------------
Ghost Buttons
---------------------------------------- */

/* Option 1*/

.ghost, .ghost-filled, .ghost-text {
	border-radius: 500px;
}

.gold {
	background-color:rgba(194,166,97,1);
	color: rgba(0,0,0,.87);
}

.gold:hover {
	background-color:rgba(211,184,122,1);
}

.black {
	background-color:rgba(0,0,0,1);
	color: rgba(255,255,255,1);
}

.black:hover {
	background-color:rgba(0,0,0,.70);
}

.green {
	background-color:rgba(0,130,72,1);
	color: rgba(255,255,255,1);
}

.green:hover {
	background-color:rgba(72,159,99,1);
}

.white {
	background-color:rgba(255,255,255,1);
	color: rgba(0,0,0,.87);
}

.white:hover {
	background-color:rgba(224,224,224,1);
}

.ghost.button {
  padding: 7px 15px;
}

.ghost.black {
	color: rgba(0,0,0,.87);
	border: solid 1px rgba(0,0,0,1);
	background-color:rgba(0,0,0,0);
}

.ghost.black:hover {
	background-color:rgba(0,0,0,.06);
}

.green.ghost {
	background-color:rgba(0,0,0,0);
	color: rgba(0,130,72,1);
	border: solid 1px rgba(0,130,72,1);
}

.green.ghost:hover {
	background-color:rgba(0,168,98,.08);
}

.white.ghost {
	background-color:rgba(0,0,0,0);
	color: rgba(255,255,255,1);
	border: solid 1px rgba(255,255,255,1);
}

.white.ghost:hover {
	background-color:rgba(255,255,255,.12);
}

.green.ghost-text {
	background-color:rgba(0,0,0,0);
	color: rgba(0,130,72,1);
}

.green.ghost-text:hover {
	background-color:rgba(0,168,98,.08);
}

.black.ghost-text {
	background-color:rgba(0,0,0,0);
	color: rgba(0,0,0,.87);
}

.black.ghost-text:hover {
	background-color:rgba(0,0,0,.06);
}


/* Option 2 */

.button {
  position: relative;
  outline:none;
  cursor: pointer;
  transition: all .1s ease;
  padding: 8px 16px;
	font-family: gotham;
	font-size: 14px;
	font-weight: bold;
	margin: 16px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.button:active {
	transform: scale(.97);
}

.mini-box {
	height:100%;
	width: 100%;
	background:rgba(0,0,0,0);
	z-index:1;
	transform: scale(.4);
	border-radius: 50px;
	position: absolute;
	top:0;
	right:0;
	transition: all .2s ease;
	/* transition: all .2s ease; */
}


input, button, submit { border:none; }

/* Material Design Card and Box Shadow by Samuel Thornton
https://codepen.io/sdthornton/pen/wBZdXq */







/* ----------------------------------------
Breakpoints
---------------------------------------- */

/* --breakpointSm */
@media only screen and (min-width: 480px) {

	.sb-contentCrateContainer {
		padding-left: 40px;
		padding-right: 40px;
	}

	.sb-navbar .row ul li:nth-child(4) {
		display: block;
	}


}

/* --breakpointMd */
@media only screen and (min-width: 768px) {

  .sb-navbar-siren {
    width: 50px;
    height: 50px;
    min-width: 50px;
  }

  .sb-navbar ul li {
    padding-left: 16px;
  }

  .greeting {
    padding-left: 96px;
    padding-bottom: 24px;;
  }

	.sb-contentCrateContainer {
		padding-left: 104px;
		padding-right: 104px;
	}



}

/* --breakpointLg */
@media only screen and (min-width: 1024px) {

  .sb-headerCrate {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40vw;
		min-width: 40vw;
  }

	.sb-contentCrate {
		margin-left: 40%;
	}

	.sb-contentCrateContainer {
		margin: auto;
    /* max-width: 600px; */
		padding-left: 16px;
		padding-right: 16px;
	}

  .sb-navbar {
    height: 106px;
    width: 40vw;
    padding-left: 32px;
    padding-right: 32px;
  }

  .greeting {
    padding-left: 32px;
    padding-bottom: 32px;
  }

	.sb-navbar .row ul li:nth-child(4) {
		display: none;
	}

}

/* --breakpointXl */
@media only screen and (min-width: 1280px) {

  .greeting {
    padding-left: 112px;
    padding-right: 112px;
  }

	.sb-navbar .row ul li:nth-child(4) {
		display: block;
	}

}

/* --breakpointXxl */
@media only screen and (min-width: 1600px) {

}
