/* ----------------------------------------
Background Colors
---------------------------------------- */

.colorWhite {background-color: #ffffff;}

.colorGrayNatural {background-color: #f7f7f7;}

.colorCream {background-color: #f3f1e7;}

.colorCeramic {background-color: #edebe9;}

.colorBlack {background-color: #000000;}

.colorBlackWarm {background-color: #2d2926;}

.colorBlackWarmer {background-color: #3d3935;}

.colorGreenStarbucks {background-color: #00653e;}

.colorGreenApron {background-color: #00a862;}

.colorGreenDarkApron {background-color: #008248;}

.colorGold {background-color: #c2a661;}

.colorRed {background-color: #e75b52;}

.colorYellow {background-color: #fbbc05;}


/* Warm black with alpha */
.colorBlackWarm12 {background-color:rgba(45, 41, 38, .12);}


/* Black with alpha */
.colorBlack10 {background-color:rgba(0, 0, 0, .1);}

.colorBlack20 {background-color: rgba(0, 0, 0, .2);}

.colorBlack30 {background-color: rgba(0, 0, 0, .3);}

.colorBlack40 {background-color: rgba(0, 0, 0, .4);}

.colorBlack50 {background-color: rgba(0, 0, 0, .5);}

.colorBlack60 {background-color: rgba(0, 0, 0, .6);}

.colorBlack70 {background-color: rgba(0, 0, 0, .7);}

.colorBlack80 {background-color: rgba(0, 0, 0, .8);}

.colorBlack90 {background-color: rgba(0, 0, 0, .9);}


/* White with alpha */
.colorWhite10 {background-color: rgba(255,255,255, .1);}

.colorWhite20 {background-color: rgba(255,255,255, .2);}

.colorWhite30 {background-color: rgba(255,255,255, .3);}

.colorWhite40 {background-color: rgba(255,255,255, .4);}

.colorWhite50 {background-color: rgba(255,255,255, .5);}

.colorWhite60 {background-color: rgba(255,255,255, .6);}

.colorWhite70 {background-color: rgba(255,255,255, .7);}

.colorWhite80 {background-color: rgba(255,255,255, .8);}

.colorWhite90 {background-color: rgba(255,255,255, .9);}


/* ----------------------------------------
Type Colors
---------------------------------------- */

.colorTextBlack {color: rgba(0, 0, 0, .87);}

.colorTextBlackSoft {color: rgba(0, 0, 0, .56);}

.colorTextWhite {color: rgba(255, 255, 255, 1);}

.colorTextWhiteSoft {color: rgba(255, 255, 255, .70);}

.colorTextGold {color: #C2A661;}

.colorTextGreen {color: var(--colorGreenDarkApron);}


/* ----------------------------------------
Gradient Scroll Transitions
---------------------------------------- */

.white-gradient {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 80%);
}
