/* ----------------------------------------
Top Sheets
---------------------------------------- */

.top-sheet {
	position: absolute;
	top:0;
	right:0;
	background:var(--colorWhite);
	width:100%;
	z-index: 1000000;
	display:none;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .3);
}

/* --breakpointLg */
@media only screen and (min-width: 1024px) {

	.top-sheet {
		width: 60%;
		z-index: 1;
	}

}
